<mat-sidenav-container class="bg-white text-dark row justify-content-start h-100 p-0 m-0">
  <mat-sidenav #sidenav [opened]="isShowing" class="p-0 m-0 col-md-3" mode="over" position="end"
               style="height: 100%;direction: rtl;background-color:  #595958">
    <div class="p-0 m-0" style="height: 100% ;width: 100%">
      <div class="row  justify-content-end align-items-center p-0 m-0">
        <div class="d-flex justify-content-end align-items-center pt-2 col-3">
          <a>
            <mat-icon class="text-dark">close</mat-icon>
          </a>
        </div>
      </div>
      <div class="row px-0 mx-0">
        <div class=" px-0 mx-0 border border-2 border-dark rounded-1 d-flex justify-content-center">
          <mat-card class=" border-1 p-0 mx-0 example-card">
            <mat-card-header class="p-0 m-0">
              <div class="example-header-image" mat-card-avatar></div>
              <mat-card-title>دانشگاه بهشتی</mat-card-title>
            </mat-card-header>
            <div class="row px-0 mx-0 justify-content-center">
              <img alt="Photo of a Shiba Inu" mat-card-image
                   src="https://material.angular.io/assets/img/examples/shiba2.jpg" style="width: 150px;height: 150px">
            </div>
            <mat-card-content>
              <div class="row px-0 pt-2 justify-content-center">
                <div class="border border-dark border-2 rounded-1 d-flex justify-content-center">
                  <label>
                    تاریخ : 1400/12/12
                  </label>
                </div>
              </div>
              <div class="row px-0 pt-2 justify-content-center">
                <div class="border border-2 border-dark rounded-1 d-flex justify-content-center">
                  <label>نام کاربر : فرهنگ ایرانی</label>
                </div>
              </div>
              <div class="row px-0 pt-2 justify-content-center">
                <div class="border border-2 border-dark rounded-1 d-flex justify-content-center">
                  <label>ساعت : 10:09:00</label>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="row  px-0 pt-2 m-0">
        <button [matMenuTriggerFor]="security" class="d-flex justify-content-between flex-row-reverse" colo mat-button>
          امنیت سیستم
          <mat-icon style="direction: rtl">arrow_left</mat-icon>
        </button>
        <mat-menu #security="matMenu" style="margin-left: 1000px" xPosition="after" yPosition="below">
          <button mat-menu-item>لیست گروه های کاربری</button>
          <button mat-menu-item>تعریف گروه کاربری جدید</button>
          <button mat-menu-item>لیست کاربران</button>
        </mat-menu>
      </div>
      <div class="row px-0 pt-2 m-0">
        <button [matMenuTriggerFor]="Management" class="d-flex justify-content-between flex-row-reverse" colo
                mat-button>مدیر سیستم
          <mat-icon style="direction: rtl">arrow_left</mat-icon>
        </button>
        <mat-menu #Management="matMenu" style="margin-left: 1000px" xPosition="after" yPosition="below">
          <button mat-menu-item>تغییر کلمه عبور
            <mat-icon>lock</mat-icon>
          </button>
          <button mat-menu-item>تغذیه اطلاعات</button>
          <button mat-menu-item>مدیریت دسترسی ویرایش</button>
          <button mat-menu-item>ویرایش محتوی صفحه ورود به سیستم</button>
          <button mat-menu-item>ویرایش محتوی صفحه اصلی</button>
          <button mat-menu-item>مدیریت لولیگ ها</button>
        </mat-menu>
      </div>
      <div class="row px-0 pt-2 m-0">
        <button [matMenuTriggerFor]="Student" class="d-flex justify-content-between flex-row-reverse"
                mat-button>دانشجو
          <mat-icon style="direction: rtl">arrow_left</mat-icon>
        </button>
        <mat-menu #Student="matMenu" style="margin-left: 1000px" xPosition="after" yPosition="below">
          <button mat-menu-item>تعهد نامه</button>
          <button mat-menu-item>فرم اطلاعات عمومی</button>
          <button mat-menu-item>قرم اطلاعات عمومی تکمیلی</button>
          <button mat-menu-item>سابقه بیماری در خانواده</button>
          <button mat-menu-item>سبک زندگی</button>
          <button mat-menu-item>عادات غذایی</button>
          <button mat-menu-item>سابقه بیماری</button>
          <button mat-menu-item>دهان و دندان</button>
        </mat-menu>
      </div>
      <div class="row px-0 pt-2 m-0">
        <button [matMenuTriggerFor]="Doctor" class="d-flex justify-content-between flex-row-reverse"
                mat-button>پزشک
          <mat-icon style="direction: rtl">arrow_left</mat-icon>
        </button>
        <mat-menu #Doctor="matMenu" style="margin-left: 1000px" xPosition="after" yPosition="below">
          <button mat-menu-item>معاینه فیزیکی</button>
          <button mat-menu-item>اظهار نظر پزشک</button>
          <button mat-menu-item>نتیجه و پیگیری</button>
        </mat-menu>
      </div>
      <div class="row px-0 pt-2 m-0">
        <button [matMenuTriggerFor]="Report" class="d-flex justify-content-between flex-row-reverse"
                mat-button>گزارش ها
          <mat-icon style="direction: rtl">arrow_left</mat-icon>
        </button>
        <mat-menu #Report="matMenu" style="margin-left: 1000px" xPosition="after" yPosition="below">
          <button mat-menu-item>گزارش تجمعی داده</button>
          <button mat-menu-item>گزارش نتیجه آزمایشات دانشجو</button>
          <button mat-menu-item>گزارش تغییر اطلاعات و ویرایش فرم ها</button>
          <button mat-menu-item>گزارش ورود به سیستم</button>
          <button mat-menu-item>گزارش عملکرد دانشجویان</button>
          <button mat-menu-item>گزارش لیست دانشجویان</button>
          <button mat-menu-item>نتایج آزمایشات</button>
          <button mat-menu-item>آمار کلی افراد بر اساس فرم های پر شدع</button>
        </mat-menu>
      </div>
      <div class="row px-0 m-0">

      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class=" justify-content-end bg-white  p-0 m-0 ">
    <app-app-sama-navbar (sideNavEvent)="sideNavButton" class="m-0 p-0 "></app-app-sama-navbar>
    <!--      <div class="row">-->
    <div class="row  p-0 m-0 col-2">
      <button class="bg-secondary" color="primary" mat-button>Toggle</button>
    </div>
    <div class=" w-100 p-0 m-0" style="height:94%">
      <router-outlet class="p-0 m-0">

      </router-outlet>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>
