<div class="mat-elevation-z8 table-container">
  <table (matSortChange)="tableSortChange($event)" [dataSource]="dataSource" class="mat-elevation-z8"
         mat-table matSort>
    <ng-container *ngFor="let header of displayColumns; let i = index;"
                  matColumnDef="{{header}}">
      <ng-container *ngIf="['event', 'icon', 'row_number'].includes(displayColumnTypes[i]) else otherwise">
        <th *matHeaderCellDef mat-header-cell>
          {{header}}
        </th>
      </ng-container>
      <ng-template #otherwise>
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{header}}
        </th>
      </ng-template>
      <td *matCellDef="let element; let j = index;" [attr.content]="header" mat-cell>
        <div class="table-data-content">
          <ng-container *ngIf="['event', 'icon'].includes(displayColumnTypes[i]) else otherwise">
            <ng-container *ngIf="displayColumnTypes[i] === 'event'">
              <mat-icon (click)="element[displayDataSources[i]](j)" [fontIcon]="displayDataSources[i]"
                        style="color: #6c6c6c"/>
            </ng-container>
            <ng-container *ngIf="displayColumnTypes[i] === 'icon'">
              <ng-container
                *ngIf="getValue(i, j, element, displayDataSources[i]) && getValue(i, j, element, displayDataSources[i]).split('-').length > 1">
                <mat-icon [fontIcon]="getValue(i, j, element, displayDataSources[i]).split('-')[0]"
                          [ngStyle]="{'color': getValue(i, j, element, displayDataSources[i]).split('-')[1]}"/>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-template #otherwise>
            <ng-container *ngIf="displayColumnTypes[i] === 'string' || displayColumnTypes[i] === 'boolean'">
              {{getValue(i, j, element, displayDataSources[i])}}
            </ng-container>
            <ng-container *ngIf="displayColumnTypes[i].startsWith('date')">
              <!--              {{getValue(i, j, element, displayDataSources[i]) | time: displayColumnTypes[i].split('date:')[1]}}-->
            </ng-container>
            <ng-container
              *ngIf="displayColumnTypes[i] === 'number' || displayColumnTypes[i] === 'row_number' || displayColumnTypes[i] === 'percent'">
              {{integerAsCurrency(getValue(i, j, element, displayDataSources[i]))}}{{displayColumnTypes[i] === 'percent' ? ' %' : ''}}
            </ng-container>
          </ng-template>
        </div>
      </td>
    </ng-container>
    <tr *matHeaderRowDef="displayColumns" mat-header-row></tr>
    <tr (click)="onRowClicked(row)" *matRowDef="let row; columns: displayColumns;"
        [ngClass]="{'selected-row': isIncluded(row)}" mat-row></tr>
  </table>
  <ng-container *ngIf="tableProperties && hasPagination">
    <mat-paginator (page)="tableProperties.pageChanged($event)" [length]="tableProperties.pageLength"
                   [pageIndex]="tableProperties.offset"
                   [pageSizeOptions]="tableProperties.limitOptions"
                   [pageSize]="tableProperties.limit"
                   [showFirstLastButtons]="showFirstLastButtons"></mat-paginator>
  </ng-container>
</div>
