<div class="container-fluid px-0 mx-0">
  <div class="panel-heading">
    <label class="panel-title">مدیریت کاربری</label>
  </div>
  <div class="row">
    <div class="col-md-4">
      <app-sama-input></app-sama-input>
    </div>
  </div>
  <div class="row pt-2">
    <div class="card-table">
      <div class="card-header-table">
        <div class="k-header k-grid-toolbar">
          <div class="k-header k-grid-toolbar">
            <a (click)="onAddUserClicked()"  class="k-button">
              افزودن
            28</a>
            <a (click)="onUpdateUserClicked()"  class="k-button">
              ویرایش
            </a>
            <a (click)="onDeleteUserClicked()"  class="k-button">
              حذف
            </a>
          </div>
        </div>
      </div>
      <div class="card-body-table">
        <app-sama-table [dataSource]="userList"
                        [displayColumnTypes]="userDisplayColumnType"
                        [displayColumns]="userDisplayColumn"
                        [displayDataSources]="userDisplayDataSource"
                        [isSelectable]="true" >
        </app-sama-table>
      </div>
    </div>
  </div>
</div>



