<app-sama-dropdown (onSelected)="onChange($event)" (searchChange)="onQueryChanged($event)"
                   (toggleChange)="onToggle($event)"
                   [(value)]="value"
                   [disable]="disable"
                   [displayKey]="displayKey"
                   [fieldName]="fieldName"
                   [highlightBasedOn]="highlightBasedOn"
                   [isMultiple]="isMultiple"
                   [options]="options"
                   [required]="required"
                   [searchOnKey]="searchOnKey"
                   [selectedOptions]="selectedOptions"
                   [title]="title"
></app-sama-dropdown>
