<mat-toolbar style="background-color: #007bff" color="primary">
  <button (click)="drawer.toggle()"
          mat-icon-button matTooltip="Menu">
    <mat-icon style="color: white">menu</mat-icon>
  </button>
  <span>پژوهشی</span>
  <span class="toolbar-item-spacer"></span>
  <button [matMenuTriggerFor]="userAccountMenu" mat-icon-button matTooltip="My Account">
    <mat-icon style="color: white">account_circle</mat-icon>
  </button>
  <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
    <button mat-menu-item routerLink="#">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </mat-menu>
</mat-toolbar>
<mat-sidenav-container autosize class="app-container">
  <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [class.mat-elevation-z4]="true"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false" class="sidenav" mode="side" opened="true" style="background-color: #67aae4">
    <mat-nav-list>
      <mat-expansion-panel style="background-color: #67aae4" [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
<!--          <mat-icon>dashboard</mat-icon>-->
          <span>امنیت سیستم</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a [routerLinkActive]="'activeItem'" [routerLink]="[Route.USER_GROUP_LIST]" mat-list-item
             routerLink="#" class="d-flex justify-content-center align-items-center align-content-center">
<!--            <mat-icon  >accessibility</mat-icon>-->
            <span>لیست گروه های کاربری</span>
          </a>
          <a [routerLinkActive]="'activeItem'" [routerLink]="[Route.USER_GROUP_ADD]" mat-list-item
             routerLink="#">
<!--            <mat-icon>android</mat-icon>-->
            <span>تعریف گروه کاربری جدید</span>
          </a>
          <a [routerLinkActive]="'activeItem'" [routerLink]="[Route.USER_MANAGEMENT]" mat-list-item
             routerLink="#">
<!--            <mat-icon>android</mat-icon>-->
            <span>لیست کاربران</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel style="background-color: #67aae4" [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          مدیریت سیستم
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a [routerLink]="[Route.USER_CHANGE_PASSWORD]" mat-list-item routerLink="#">
<!--            <mat-icon>android</mat-icon>-->
            <span>تغییر رمز</span>
          </a>
          <a [routerLink]="[Route.BASE_INFORMATION_INSERT]" mat-list-item routerLink="#">
<!--            <mat-icon>android</mat-icon>-->
            <span>تغذیه اطلاعات</span>
          </a>
          <a [routerLink]="[Route.ACCESS_AND_UPDATE_INFORMATION]" mat-list-item routerLink="#">
<!--            <mat-icon>android</mat-icon>-->
            <span>مدیریت دسترسی و ویرایش</span>
          </a>
          <a [routerLink]="[Route.UPDATE_LOGIN_SCREEN_NOTIFICATION]" mat-list-item routerLink="#">
<!--            <mat-icon>android</mat-icon>-->
            <span>ویرایش محتوای صفحه ورود به سیستم</span>
          </a>
          <a [routerLink]="[Route.UPDATE_MAIN_SCREEN_NOTIFICATION]" mat-list-item routerLink="#">
<!--            <mat-icon>android</mat-icon>-->
            <span>ویرایش محتوای صفحه اصلی</span>
          </a>
          <a [routerLink]="[Route.LEO_LINK_MANAGEMENT]" mat-list-item routerLink="#">
<!--            <mat-icon>android</mat-icon>-->
            <span>مدیریت لوئینک ها</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel style="background-color: #67aae4" [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          دانشجو
        </mat-expansion-panel-header>
        <mat-nav-list>
          <!--          <a [routerLink]="[Route.ACTIVITY_STATUS_COMPONENT]" mat-list-item routerLink="#">-->
          <!--            <mat-icon>android</mat-icon>-->
          <!--            <span>انواع وضعیت بررسی فعالیت</span>-->
          <!--          </a>-->
          <!--          <a [routerLink]="[Route.REVIEW_COMPONENT]" mat-list-item routerLink="#">-->
          <!--            <mat-icon>android</mat-icon>-->
          <!--            <span>بررسی</span>-->
          <!--          </a>-->
          <!--          <a [routerLink]="[Route.REVIEW_SCHEDULE_COMPONENT]" mat-list-item routerLink="#">-->
          <!--            <mat-icon>android</mat-icon>-->
          <!--            <span>زمانبندی بررسی</span>-->
          <!--          </a>-->
          <!--          <a [routerLink]="[Route.ACTION_REVIEW_STEP_COMPONENT]" mat-list-item routerLink="#">-->
          <!--            <mat-icon>android</mat-icon>-->
          <!--            <span>مراحل بررسی</span>-->
          <!--          </a>-->
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel style="background-color: #67aae4" [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          پزشک
        </mat-expansion-panel-header>
        <mat-nav-list>
          <!--          <a [routerLink]="[Route.ACTIVITY_COMPONENT]" mat-list-item routerLink="#">-->
          <!--            <mat-icon>android</mat-icon>-->
          <!--            <span>فعالیت ها</span>-->
          <!--          </a>-->
          <!--          <a [routerLink]="[Route.JOURNAL_COMPONENT]" mat-list-item routerLink="#">-->
          <!--            <mat-icon>android</mat-icon>-->
          <!--            <span>نشریات</span>-->
          <!--          </a>-->
          <!--          <a [routerLink]="[Route.CONFERENCE_COMPONENT]" mat-list-item routerLink="#">-->
          <!--            <mat-icon>android</mat-icon>-->
          <!--            <span>همایش ها</span>-->
          <!--          </a>-->
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>

